.Chat {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    
}

.messages {
    height: 500px;
    width: 400px;
}

.messages * {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;
    overflow: hidden;
}
.chat-Student, .chat-Instructor {
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
}
.chat-Student {
    background-color: #393e47;
    margin-left: 80px;
}

.chat-Instructor {
    margin-right: 80px;
    background-color: red;
}

.currentMessage {  
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: right;
    width: 394px;
    height: 40px;
}
