#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Card {
  padding: .5em;
  background-color: #6e72aeaa;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.Card * {
  margin: .5em;
}