.specAPlot {
    align-self: center;
    width: 800px;
}
.SpecAControls {
    display: grid;
    width: 800px;
    grid-template-columns: 360px 130px 130px 180px;
}

.freqValues {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.freqValues * {
    margin: 0px 5px 5px 0px;
}
.freqValues :first-child {
    text-align: left;
}
.freqValues :last-child {
    text-align: right
}

.inputControl {
    grid-row: span 2;
    border: 1px solid black;
    margin-right: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 80px 80px 100px;
}

.unit {
    text-align: left;
    margin-left: 10px;
}

.label {
    text-align: right;
    margin-right: 10px;
}

.traceControl {
    margin: 0px 5px 0px 0px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.traceControl :first-child {
    grid-column: 1/3
}

.traceControl * {
    margin: 5px 5px 5px 5px;
}

.invalid {
    color: red;
}