.txModemOutputs {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    width: 245px;
    display: grid;
    grid-template-columns: 100px 100px 25px;
    align-items: center;
}

.value {
    font-weight: bold;
}

.txBody {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    justify-items: center;
}

.txModemSelect {
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    width: 115px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.txModemSelect * {
    margin: 5px;
}

.buttonOn {
    background-color: rgb(204, 30, 30); 
    border: 2px solid red;  
}
.buttonOnSelected {
    background-color: rgb(204, 30, 30);
    border: 2px solid white;
}
.buttonSelected {
    border: 2px solid white;
}
.buttonOff {
    border: 2px solid black;
}

.powerIncrementButton {
    display: flex
}
.invalid {
    color: red;
}