.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #393e47;
    font-size: 30px;
    display:grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  }
  
  .header * {
    padding: 10px 20px 10px 20px;
  }
  


.EWOK_Label {
    font-size: 36px;
}


.ZuluClock {
    justify-content: center;
    align-content: center;
    font-size: 22px;
}
.LocalClock {
    justify-content: center;
    align-content: center;
    font-size: 22px;
}
/* .ScenarioClock {
    justify-content: center;
    align-content: center;
    font-size: 22px;
} */